/*Estilo para el contenedor principal*/

.Layout{
    display: flex;
    flex-wrap: wrap;
}



/*Estilo para el titulo*/

.styleName{
    text-align: center;
    background-color: #128c7e;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}

.tituloStyle{
    font-size: 23px;
    margin: 0;
}

/*Estilo para los box*/

.Box{
    flex: 1;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.Box h1 {
    font-size: 24px;
    color: #075e54;
}

/*Estilo para el párrafo dentro de cada caja*/

.Box p {
    font-size: 16px;
    color: #333;
}

.typeEnvio label {
    display: block;
    margin-bottom: 10px;
}

/*Estilo para los botones*/

button {
    background-color: #128c7e; /* Color verde de WhatsApp */
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.boton-inactivar {
    background-color: #ff8800; 
}

/*Estilo para el hover del botón*/

button:hover{
    background-color: #128c7e;
}


/* Estilo para los inputs de texto */

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el select */

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para la tabla */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    box-shadow:  1px 1px 1px 1px rgba(1, 1, 1, 1);
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
    
/* Estilo para el pre */

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
    
/*
.typeEnvio{
    background-color: aqua;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    label{
        position: relative;
        right: -210px;
        bottom: 23px;
    }
}*/